/* squaremenu */

	.navSquare {
		display: table;
		height: 100%;
		position: absolute;
		paddingLeft: 0;
		paddingRight: 0;
	}

	.navSquare.vertical {
		display: inline-block;
		height: 100%;
		width: 34px;
	}

	.navSquare.horizontal {
		display: inline-block;
		height: 100%;
	}

	/*
	 * squares
	 */

	/* Goldfish colours */

	.navSquare .square0 {
	    background-color: #69D2E7;
			height: 20%;
	}

	.navSquare .square1 {
		background-color: #A7DBD8;
		height: 20%;
	}
	.navSquare .square2 {
		background-color: #E0E4CC;
		height: 20%;
	}
	.navSquare .square3 {
		background-color: #F38630;
		height: 20%;
	}

	.navSquare .square4 {
		background-color: #FA6900;
		height: 20%;
	}

	/*
	 * Tooltip - reappropriated from dotNavs tooltip.
	 */

	.navSquares .tooltip {
	  	max-width: 450px;
	}

	.navSquares .tooltip-inner {
	    max-width: 450px; /* TODO should depend on container size 90%? */
	    white-space: pre;
		word-wrap: break-word;
		text-align: left;
		/* seems needed to make the text wraps correctly */
		padding: 3px 7px;
	}


	/* On Firefox tooltip get cropped with ellipsis */
	@-moz-document url-prefix() {
		.navDots .tooltip-inner {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
