/* squaremenu */

	.navSquares {
		display: table;
		height: 100%;
	}

	.navSquares.vertical {
		display: inline-block;
		height: 100%;
		width: 34px;
	}

	.navSquares.horizontal {
		display: inline-block;
		height: 100%;
	}

	.navSquares .navSquareInner {
		display: inline-block;
		height: 100%;
		max-width: 33px;
	}

	.navSquares.horizontal .navSquareInner {
		max-width: inherit;
	}


	/*
	 * squares
	 */

	/* Goldfish colours */

	.navSquares .square[data-index="0"] {
	  background-color: #69D2E7;
		height: 20%;
		width: 100%;
	}

	.navSquares .square[data-index="1"] {
		background-color: #A7DBD8;
		height: 20%;
		width: 33px;
	}
	.navSquares .square[data-index="2"] {
		background-color: #E0E4CC;
		height: 20%;
		width: 100%;
	}
	.navSquares .square[data-index="3"] {
		background-color: #F38630;
		height: 20%;
		width: 100%;
	}

	.navSquares .square[data-index="4"] {
		background-color: #FA6900;
		height: 20%;
		width: 100%;
	}

	/* Action and Events */

	.navSquares .square:hover {
		color: #FFF !important;
	}

	.navSquares .square.active {
		color: #FFF !important;
		font-size: 28px;
	}

	.navSquares.horizontal .square.active {
		vertical-align: -3px;
	}

	.navSquares .square:first-child.active {
		color: #FFF;
		font-size: 28px;
		background-position: 10px -16px;
	}



	/*
	 * Tooltip - reappropriated from dotNavs tooltip.
	 */

	.navSquares .tooltip {
	  	max-width: 450px;
			font-size: 18px;
	}

	.navSquares .tooltip-inner {
	  max-width: 450px; /* TODO should depend on container size 90%? */
	  white-space: pre;
		word-wrap: break-word;
		text-align: left;
		/* seems needed to make the text wraps correctly */
		padding: 3px 7px;
	}


	/* On Firefox tooltip get cropped with ellipsis */
	@-moz-document url-prefix() {
		.navSquares .tooltip-inner {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
